[submodule "packer/scripts/puppet"]
	path = packer/scripts/puppet
	url = git@github.com:hashicorp/puppet-bootstrap.git
[submodule "packer/salt"]
	path = packer/salt
	url = git@github.com:thinktainer/mono-salt.git
